@charset "utf-8";

.card {
    display: flex;
    width: 200px;
    height: 125px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.card.five {
    background-color: #fff;
    color: #ca2a83;
}

.card.seven {
    background-color: #ca2a83;
    color: #fff;
}

#five-card, #seven-card {
    margin: 20px;
}